@mixin text-replace($image, $height, $width)
  margin: 0 auto
  display: block
  overflow: hidden
  text-indent: 1000%
  white-space: nowrap
  height: $height
  width: $width
  background: url($image) no-repeat
